username cumulus nopassword
!
service integrated-vtysh-config
!
log file /var/log/quagga/quagga.log
!
log timestamp precision 6
!
router bgp {{ routing.bgp.asn }}
  bgp router-id {{ routing.bgp.router_id }}
  {% for entry in routing.bgp.neighbors %}
  neighbor {{ entry.ip }} remote-as {{ entry.asn }}
  {% endfor %}
!
address-family ipv4 unicast
  redistribute connected route-map CONNECTED
  exit-address-family
!

{% if routing.bgp.redistribute is defined %}
  {% for entry in routing.bgp.redistribute.prefix_list.entries %}
ip prefix-list {{ routing.bgp.redistribute.prefix_list.name }} seq {{ loop.index }} permit {{ entry.cidr }}  {{ entry.operator }} {{ entry.prefix }}
  {% endfor %}
!

route-map CONNECTED permit 10
  match ip address prefix-list {{ routing.bgp.redistribute.prefix_list.name }}
{% endif %}
route-map CONNECTED permit 20
  match interface lo
!
 line vty
!
