routing-options {
  router-id {{ routing.bgp.router_id }}
  autonomous-system {{ routing.bgp.asn }}
}

policy-options {
{% for prefix_list in routing.bgp.redistribute.prefix_lists %}
  prefix-list {{ prefix_list.name }} {
    {% for entry in prefix_list.entries %}
    {{ entry.cidr }}
    {% endfor %}
  }
  policy-statement CONNECTED {
    from {
      protocol direct
      prefix-list-filter {{ prefix_list.name }} longer
    }
    then accept
  }
{% endfor %}
}

protocols bgp {

  group external-peers {
    type external
    export CONNECTED

  {% for entry in routing.bgp.neighbors %}
    neighbor {{ entry.ip }} {
      peer-as {{ entry.asn }}
  {% endfor %}
    }
  }
}


