interfaces {

{% for entry in interfaces.server %}
{{ entry.name }} {
    unit 0 {
        family inet {
            address {{ entry.ipv4 }}
        }
    }
}
{% endfor %}



{% for entry in interfaces.switch %}
{{ entry.name }} {
    unit 0 {
        family inet {
            address {{ entry.ipv4 }}
        }
    }
}
{% endfor %}


{% for entry in interfaces.loopback %}
{{ entry.name }} {
    unit 0 {
        family inet {
            address {{ entry.ipv4 }}
        }
    }
}
{% endfor %}

}

protocols {
   lldp {
      interface all
   }
}
