
auto lo
iface lo inet loopback

auto eth0
iface eth0
  address 192.168.1.202/24


{% for iface_key, iface_value in interfaces.iteritems() %}
auto {{ iface_key }}
iface {{ iface_key }}
    alias "{{ iface_value.config.description }}";
{% for address in iface_value.config.ipv4.addresses %}
    address {{ address }}
{%endfor %}
{%endfor%}
