interfaces {

{% for iface in openconfig_interfaces.interface %}
    {{ iface.name }} {
        description "{{ iface.config.description }}";
{% for unit in iface.config.subinterfaces.subinterface %}
        unit {{ unit.index }} {
            family inet {
{% for address in unit.ipv4.addresses.address %}
{% if loop.index0 == 0 %}
                address {{ address.ip }} {
                    primary;
                }
{% else %}
                address {{ address.ip }};
{% endif %}
            }
{% endfor %}
        }
{% endfor %}
    }
{%endfor%}

}

protocols {
   lldp {
      port-id-subtype interface-name
      interface all
   }
}
