interfaces {

{% for iface_key, iface_value in interfaces.iteritems() %}
    {{ iface_key }} {
        description "{{ iface_value.config.description }}";
        unit 0 {
            replace: family inet {
{% for address in iface_value.config.ipv4.addresses %}
{% if loop.index0 == 0 %}
                address {{ address }} {
                    primary;
                }
{% else %}
                address {{ address }};
{% endif %}
            }
{% endfor %}
        }
    }
{%endfor%}

}

protocols {
   lldp {
      port-id-subtype interface-name
      interface all
   }
}
